*{
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    object-position:-3pxpx;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}
#user-score{
    margin-bottom: 2rem;
    font-size: 30px;
    color: red;
}
#computer-score{
    margin-bottom: 2rem;
    font-size: 30px;
    color: red;
}
.name{
    font-size: 30px;
    background-color: antiquewhite;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    border: 2px solid #081b31;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    
    background-color: #081b31;
    color: azure;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}